.direction-section {
    // padding: 100px 0;

    .directions {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
        padding: 0 20px;


        @media (max-width: 1300px) {
            flex-direction: column;
            gap: 32px;
        }

        .directions_name {
            flex: 0 0 38%;
            position: sticky;
            top: 40px;

            @media (max-width: 1300px) {
                position: static;
                width: 100%;
            }

            h1 {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 80px;
                line-height: 90%;
                color: var(--white);
                margin-bottom: 24px;
                @media (max-width: 485px) { font-size: 28px; }
            }

            p {
               font-family: var(--font-family);
                font-weight: 400;
                font-size: 24px;
                line-height: 133%;
                color: var(--white);
                @media (max-width: 485px) { font-size: 16px; }
            }
        }

        .directions_wrapper {
            flex: 0 0 60%;
            width: 100%;

            .directions_list {
                display: flex;
                flex-direction: column;
            }
        }

        .directions_info {
            display: flex;
            align-items: stretch; 
            padding: 24px; 
            gap: 24px;   
            border: 1px solid #fff; 
            margin-top: -1px; 
            transition: background 0.3s ease;

            @media(max-width:768px) {padding: 24px 16px;}

            &:hover {
                background: rgba(255, 255, 255, 0.05);
            }

            
            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            .img_direc {
                // flex: 0 0 50%;
                
                img {
                    width: 100%;
                    height: 100%;
                    min-height: 200px;
                    object-fit: cover;
                }
            }

            .direction_text {
                flex: 0 0 56%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 24px;

                h4 {
                    font-size: 32px;
                    font-weight: 700;
                    color: #fff;
                    margin-bottom: 16px;
                    @media (max-width: 485px) { font-size: 24px; }
                }

                p {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.7);
                    line-height: 1.4;
                }
                

                .more_link {
                    display: inline-flex;
                    align-items: center;
                    gap: 8px;
                    text-decoration: none;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: var(--white);
                    margin-top: 24px;
                    margin-top: auto;

                    span { transition: 0.3s; }
                    &:hover span { transform: translateX(5px); }
                }
            }

            /* АДАПТИВ ПОД МОБИЛКУ (780px и ниже) */
            @media (max-width: 780px) {
                flex-direction: column !important;
                padding: 24px 16px !important; // Внутренний паддинг коробки
                gap: 24px; // Расстояние между картинкой и текстом на мобилке

                .img_direc {
                    width: 100% !important;
                    // height: 200px; // Фиксированная высота как ты просил ранее
                    
                    img {
                        min-height: auto;
                    }
                }

                .direction_text {
                    width: 100% !important;
                    
                    h4 { font-size: 24px; }
                    p { font-size: 14px; }
                }
            }
        }
    }
}