

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--black);
    width: 100%;
    overflow-x: hidden; /* Чтобы не было горизонтальной полосы прокрутки */
}

nav,
footer,
header {
    display: block;
}

ul li {
    list-style: none;
}

button {
    cursor: pointer;
}

.header {
    margin-top: 0;
}
.footer{
    margin-bottom: 0;
    width: 100%;
}
:root {
	--dark-grey: #606578;
	--almost-white: #f7f7f7;
	--blue: #0041d5;
	--light-grey: #ececec;
	--light-blue: #218be2;
	--royal-blue: #031a65;
	--darkest-grey: #2d303d;
	--medium-grey: #dcdcdc;
	--black: #000921;
	--white: #fff;
}
:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Cormorant", sans-serif;
}


nav ul { 
    list-style:none; 
    display:flex; 
    gap:20px; 
}
        
nav a { 
    text-decoration:none; 
    transition:0.3s; 
    position: relative;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 125%;
    color: var(--white);
}

nav a:hover { 
    color: var(--blue); 
}
        
nav a.active {
    color: var(--gold);
}
        
nav a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--gold);
}
h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 90%;
    color: var(--white);
}
h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: var(--white);
}

.container {
    max-width: 1920px; /* Ширина сайта из Figma */
    margin: 0 auto;    /* Центрирует сам контейнер (0 сверху/снизу, авто по бокам) */
    padding: 0 20px;   /* Чтобы на мобилках текст не касался краев */
    width: 100%;
}

main {
    width: 100%;
    height: 740px;
    background: linear-gradient(90deg, #031a65 0%, rgba(3, 26, 101, 0) 100%);
}
.menu_list a, .logo, .my_help {
    flex-shrink: 0; /* Текст больше никогда не сожмется и не перенесется */
    white-space: nowrap; /* Дополнительная страховка: текст всегда в одну строку */
}


header {
    // position: fixed; /* Чтобы шапка всегда была сверху при скролле */
    // top: 0;
    // left: 0;
    // z-index: 1000;
    transition:0.3s;
    background: var(--black);
    padding: 24px 48px;
    width: 100%;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // gap: 656px;
        .head_list{
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 72px;
            .menu_list {
                display: flex;
                justify-content: space-between;
                align-items:center;
                gap: 48px;
                
            }
        }
        .head_link {
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 48px;
            .my_help {
                border-radius: 16px;
                padding: 12px 20px;
                background: linear-gradient(45deg, #0041d5 0%, #0371c1 50%, #5ab2f2 100%);
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 24px;
                line-height: 167%;
                color: var(--white);
                border:none;
            }
            .range {
                display: flex;
                justify-content: space-between;
                align-items:center;
                gap: 16px;
                .round {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    background-color: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items:center;
                }
            }
        }
    }
}

// @media (max-width: 1600px) {
//     .head {
//         display: flex;
//         justify-content: space-between;
//         align-items:center;
//         width: 100%;
//     }
// }