

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--black);
    width: 100%;
    overflow-x: hidden; /* Чтобы не было горизонтальной полосы прокрутки */
}

nav,
footer,
header {
    display: block;
}

ul li {
    list-style: none;
}

button {
    cursor: pointer;
}

.header {
    margin-top: 0;
}
.footer{
    margin-bottom: 0;
    width: 100%;
}
:root {
	--dark-grey: #606578;
	--almost-white: #f7f7f7;
	--blue: #0041d5;
	--light-grey: #ececec;
	--light-blue: #218be2;
	--royal-blue: #031a65;
	--darkest-grey: #2d303d;
	--medium-grey: #dcdcdc;
	--black: #000921;
	--white: #fff;
}
:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Cormorant", sans-serif;
}


nav ul { 
    list-style:none; 
    display:flex; 
    gap:20px; 
}
        
nav a { 
    text-decoration:none; 
    transition:0.3s; 
    position: relative;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    line-height: 125%;
    color: var(--white);
    @media(max-width:1280px) {font-size: 20px;}
}

nav a:hover { 
    color: var(--blue); 
}
        
nav a.active {
    color: var(--gold);
}
        
nav a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--gold);
}
h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 90%;
    color: var(--white);
}
h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: var(--white);
}
h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: var(--white);
}
p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.container {
    max-width: 1860px; /* Ширина сайта из Figma */
    margin: 0 auto;    /* Центрирует сам контейнер (0 сверху/снизу, авто по бокам) */
    padding: 0 20px;   /* Чтобы на мобилках текст не касался краев */
    width: 100%;
}

main {
    width: 100%;
    height: 740px;
    background: linear-gradient(90deg, #031a65 0%, rgba(3, 26, 101, 0) 100%);
}
.menu_list a, .logo, .my_help {
    flex-shrink: 0; /* Текст больше никогда не сожмется и не перенесется */
    white-space: nowrap; /* Дополнительная страховка: текст всегда в одну строку */
}


header {
    // position: fixed; /* Чтобы шапка всегда была сверху при скролле */
    transition:0.3s;
    background: var(--black);
    padding: 24px 48px;
    width: 100%;
    @media(max-width:485px) {padding: 32px 16px;}

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // gap: 656px;
        .head_list{
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 72px;
            .menu_list {
                display: flex;
                justify-content: space-between;
                align-items:center;
                gap: 48px;
                
            }
        }
        .head_link {
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 48px;
            @media(max-width:485px) {gap:83px}
            .my_help {
                border-radius: 16px;
                padding: 12px 20px;
                background: linear-gradient(45deg, #0041d5 0%, #0371c1 50%, #5ab2f2 100%);
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 24px;
                line-height: 167%;
                color: var(--white);
                border:none;

                &:hover {
                    transform: scale(1.05);
                }
            }
            .range {
                display: flex;
                justify-content: space-between;
                align-items:center;
                gap: 16px;
                .round {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    background-color: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items:center;
                }
            }
        }
    }
    .head-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // gap: 656px;
        .head_list{
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 15px;
            img {
                border-radius: 80px;
                width: 80px;
                height: 80px;
                @media(max-width:468px) {width: 40px;height: 40px;}
            }
        }
        .head_link {
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 105px;
            @media(max-width:1440px) {gap:30px}
            .my_help {
                border-radius: 16px;
                padding: 12px 20px;
                background: linear-gradient(45deg, #0041d5 0%, #0371c1 50%, #5ab2f2 100%);
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 16px;
                line-height: 100%;
                color: var(--white);
                border:none;

                &:hover {
                    transform: scale(1.05);
                }
            }
            .range {
                display: flex;
                justify-content: space-between;
                align-items:center;
                gap: 16px;
                .round {
                    border-radius: 32px;
                    width: 32px;
                    height: 32px;
                    background-color: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items:center;
                }
            }
        }
    }
}



.head {
    display: flex;
}
.head-mobile {
    display: none !important; 
}

@media (max-width: 1200px) {
    header {
        .head {
            display: none !important; 
        }
        .head-mobile {
            display: flex !important; 
        }
    }
}





.footer-section {
    position: relative;
    padding-top: 60px; // Место для нависающей панели
    background: #000;

    // БЕЛАЯ ПАНЕЛЬ ПОЖЕРТВОВАНИЙ
    .help_money {
        position: relative;
        // z-index: 2;
        max-width: 1362px;
        margin: 0 auto;
        background: #fff;
        padding: 64px;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 20px;
            width: 90%;
        }

        .money {
            display: flex;
            gap: 32px;
            align-items: center;

            .amount_btn {
                padding: 10px 15px;
                border: 1px solid #ccc;
                background: #eee;
                border-radius: 8px;
                font-size: 14px;
                cursor: pointer;
                &.active {
                    background: #0066ff;
                    color: #fff;
                    border-color: #0066ff;
                }
            }

            input {
                border: 1px solid var(--royal-blue);
                border-radius: 16px;
                padding: 16px 20px;
                width: 256px;
                height: 60px;
                background: var(--almost-white);
            }
        }

        .button_help {
            background: var(--blue);
            color: #fff;
            border: none;
            font-weight: 600;
            cursor: pointer;
            border-radius: 16px;
            padding: 20px ;
            width: 250px;
            // height: 60px;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    // СИНИЙ ОСНОВНОЙ БЛОК
    .footer-main-bg {
            background: #001a4d;
            padding: 100px 0 60px;
            color: #fff;
            border-radius: 16px;
            max-width: 1824px;
            margin: 0 auto;

        .footer {
            max-width: 1696px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items:center;
            gap: 40px;
            flex-wrap: nowrap;

            .info_interact {
                flex: 1;
                border-right: 1px solid var(--white);
                // padding: 0px 32px 0px 0px;
                // width: 298px;
                height: 376px;
                .logotype img { 
                    width: 80px; 
                    margin-bottom: 24px; 
                }
                p { 
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--white);
                }
                .recvizite {
                    margin-top: 56px;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    p {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 133%;
                        color: var(--white);
                    }
                    a { 
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 133%;
                        color: var(--light-blue); 
                        text-decoration: none;
                    }
                    .bank-details { font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 133%;
                        color: var(--medium-grey); 
                    }
                }
            }

            .menu {
                display: flex;
                flex-direction: column;
                border-right: 1px solid var(--white);
                padding: 0px 32px 0px 0px;
                width: 199px;
                height: 376px;
                align-items:center;
                justify-content: center;

                .menu_list {
                    display: flex;
                    flex-direction: column; 
                    gap: 48px; 
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                    }

                    a { 
                        color: var(--white); 
                        text-decoration: none; 
                        font-size: 20px; 
                        font-weight: 500;
                        font-family: var(--second-family);
                        transition: 0.3s;

                        &:hover {
                            color: var(--blue);
                            padding-left: 5px; // Эффект при наведении
                        }
                    }
                }

                @media (max-width: 1100px) { 
                    border-left: none; 
                    padding-left: 0; 
                    align-items: center;
                }
            }

            .procent_help {
                flex: 2;
                display: flex;
                gap: 40px;
                // padding-left: 40px;
                // border-left: 1px solid var(--white);

                

                .diagram_box {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    max-width: 587px;

                    border-right: 1px solid var(--white);
                    padding: 0px 32px 0px 0px;
                    width: 587px;
                    height: 376px;
                    
                    .pie-chart {
                        width: 120px;
                        height: 120px;
                        background: conic-gradient(#0047ff 75%, #5e92ff 0);
                        border-radius: 50%;
                    }
                    .pie-label { font-size: 24px; font-weight: bold; }

                    .text_procent {
                        gap: 32px;
                        max-width: 299px;

                        p {
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 133%;
                            color: var(--white);
                        }
                        .prosent_list 
                        p { 
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            color: var(--white);
                        }
                    }
                
                }

                .contact {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    flex-direction: column;
                    gap: 48px;

                    // padding-left: 40px;
                    // border-left: 1px solid rgba(255, 255, 255, 0.2);

                    .contact_text {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        p {
                            font-weight: 400;
                            font-size: 32px;
                            line-height: 100%;
                        }
                        .num {
                            gap:16px;
                            p {
                                font-weight: 400;
                                font-size: 24px;
                                line-height: 133%;
                            }
                        }
                    }
                    
                    .social-row { display: flex; gap: 10px; margin-top: 15px; }
                    .social_media {
                        width: 48px; 
                        height: 48px; 
                        border-radius: 50%; 
                        background: var(--white);
                        border:none; 
                        color: #000; 
                        cursor: pointer;
                    }

                    .connection {
                        display: flex;
                        gap: 0;
                        input {
                            border: 1px solid var(--royal-blue);
                            border-radius: 16px;
                            padding: 16px 20px;
                            background: var(--almost-white);
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 200%;
                            color: var(--dark-grey);
                        }
                        .subscribe {
                            // background: #0047ff; 
                            // color: #fff; 
                            // border: none;
                            // padding: 12px 20px; 
                            // border-radius: 8px; 
                            cursor: pointer;
                            border-radius: 16px;
                            padding: 12px 20px;
                            // width: 169px;
                            // height: 64px;
                            background: var(--blue);
                            font-family: var(--second-family);
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 167%;
                            color: var(--white);
                            border: none;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
    }
}


