.hero-section {
    position: relative;
    height: 740px; // Базовая высота
    overflow: hidden;
    width: 100%;
    max-width: 1960px;
    margin: 0 auto;
    @media (max-width:768px) {height: 470px;}

    .slider-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        
        .slider-track {
            display: flex;
            gap: 0; /* Для главного полноэкранного слайдера отступы не нужны! */
            height: 100%;
            .slide {
                // flex-shrink: 0;   /* ВАЖНО: запрещает слайду сжиматься */
                width: 100%;      /* Занимает всю ширину родителя */
                min-width: 100%;  /* На всякий случай дублируем */
                height: 100%;
                flex: 0 0 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // Картинка не искажается
                    display: block;
                }
            }
        }
    }

    .hero_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
        background: linear-gradient(
            to right, 
            rgb(1, 20, 81) 20%, 
            rgba(3, 26, 101, 0.8) 45%, 
            rgba(3, 26, 101, 0) 100%
        );


    }

    .hero_content_fixed {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 72px;
        @media(max-width:485px) {gap: 190px; height: 424px;margin: 24px 16px;}

        .open_text {
            h1 {
              font-size: 80px;
              @media (max-width: 768px) { font-size: 48px;line-height: 117%; }
            }

            h2 {
                font-size: 32px;
                margin-top: 16px;
                margin-bottom: 32px;
                @media (max-width: 768px) { font-size: 16px; margin-top: 8px; margin-bottom: 24px;}
            }

            .want {
                cursor: pointer;
                border-radius: 16px;
                padding: 12px 24px;
                background: linear-gradient(45deg, #0041d5 0%, #0371c1 50%, #5ab2f2 100%);
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 20px;
                color: var(--white);
                border: none;
                width: fit-content;
                transition: transform 0.2s;

                @media (max-width: 768px) {
                  padding: 12px 20px;
                  font-size: 16px;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .button_slesh {
        display: flex;
        align-items: center;
        gap: 16px;

      @media(max-width: 485px) {
        margin: 0 auto;
         gap: 75px;
        //  margin-top:24px 
        }
        .slesh_link {
            display: flex;
            gap: 8px;

            .slesh_list {
                width: 12px;
                height: 12px;
                background: var(--white);
                border-radius: 50%;
                transition: 0.3s;

                &.active {
                    background: var(--blue);
                    transform: scale(1.2);
                }
            }
        }

        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            .line-md--chevron-left .line-md--chevron-right {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
            }
        }
    }
}

.button_slesh button:hover {
    background: var(--light-grey);
}
.slesh_list.active {
    background-color: var(--royal-blue);
    transform: scale(1.2);
}
.slesh_list:active {
    background: var(--blue);
}







