


.slider-container {
    position: relative;
    width: 100%;       /* Или ширина из Figma, например 800px */
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;  /* Прячем лишние слайды */
    border-radius: 20px;
    .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Плавная анимация */
        .slide {
        min-width: 100%;   /* Один слайд занимает всё окно */
            img {
                width: 100%;
                display: block;
                object-fit: cover; /* Чтобы картинки не искажались */
                height: 400px;     /* Высота из макета */
            }
        }
    }
        .prev-btn .next-btn {
        position: relative;
        border-radius: 32px;
        padding: 8px;
        width: 40px;
        height: 40px;
        background: var(--white);
            .line-md--chevron-left .line-md--chevron-right {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    }

    .prev-btn { left: 20px; }
    .next-btn { right: 20px; }
}

