.mission-section {
    padding: 60px 0; // Уменьшил внешний отступ для мобилок
    display: flex;
    justify-content: center;


    .mission {
        width: 1362px;
        min-height: 488px; 
        background: #FFFFFF;
        border-radius: 24px;
        padding: 64px;
        
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
        box-sizing: border-box;

        @media (max-width: 1400px) {
            width: 95%;
            height: auto;
        }

        @media (max-width: 1024px) {
            flex-direction: column;
            padding: 40px;
        }

        @media (max-width: 768px) {
            padding: 32px 16px; // Уменьшаем боковые поля, чтобы дать место колонкам
            gap: 24px;
        }
    }

    .mission_name {
        flex: 0 0 auto;

        h1 {
            font-family: var(--second-family);
            font-size: 48px;
            font-weight: 700;
            color: #000;
            line-height: 1.2;
            margin: 0;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }
    }

    .mission_wrapper {
        flex: 1 1 auto;

        .mission_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 40px 30px;

            /* Адаптив для планшетов и мобилок (включая 375px) */
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr); // Две колонки
                gap: 30px 20px;
            }

            @media (max-width: 375px) {
                /* Принудительно 2 колонки на 375px */
                grid-template-columns: repeat(2, 1fr); 
                gap: 20px 10px; // Минимальный зазор, чтобы текст влез
            }
        }

        .mission_info {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h5 {
                font-size: 20px;
                font-weight: 700;
                color: #000;
                text-transform: uppercase;
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 15px; // Уменьшаем шрифт заголовка
                }
            }

            p {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.7);
                line-height: 1.4;
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 12px; // Уменьшаем шрифт текста, чтобы он помещался в узкую колонку
                }
            }
        }
    }
}