.projects-section {
    padding: 100px 0;
    overflow: hidden;
    background: var(--black); 

    .projects {
        display: flex;
        flex-direction: column;
        gap: 72px;
        @media (max-width: 485px) { gap: 16px; }

        .projects_name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-family: var(--second-family);
                font-size: 80px;
                font-weight: 700;
                color: var(--white);
                line-height: 0.9;
                @media (max-width: 485px) { font-size: 32px;line-height: 125%;}
            }

            .desktop-buttons {
                display: flex; /* Показываем на десктопе */
                @media (max-width: 485px) { display: none; } /* Прячем на мобилке */
            }
        }

        .button_projects {
            display: flex;
            gap: 16px;

            button {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 1px solid #e0e0e0;
                background: var(--white);
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s;

                &:hover {
                    background: var(--blue);
                    border-color: var(--blue);
                    color: white;
                }
            }
        }

        .projects_wrapper {
            width: 100%;
            .projects_slider {
                display: flex;
                gap: 24px;
            }
        }

        .projects_scroll {
            flex: 0 0 669px; 
            // height: 672px;
            background: var(--darkest-grey);
            border-radius: 16px;
            padding: 24px 24px 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            gap: 32px;

            @media (max-width: 485px) {
                flex: 0 0 343px; 
                height: 100%;
                padding: 16px 16px 24px;
            }

            .location {
                font-size: 16px;
                text-transform: uppercase;
                color: var(--white);
                margin-bottom: 24px;
                @media (max-width:480px) {font-size: 12px;}
            }

            .img_box {
                width: 100%;
                height: 300px;
                border-radius: 16px;
                overflow: hidden;
                margin-bottom: 24px;
                @media (max-width: 485px) { height: 180px; }

                img { width: 100%; height: 100%; object-fit: cover; }
            }

            .time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 24px;
                
                span {
                    background: var(--light-blue);
                    padding: 8px 12px;
                    border-radius: 16px;
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    color: var(--white);
                    @media(max-width:480px){font-size: 12px;}
                }
                p { 
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    color: var(--white);
                    @media(max-width:480px){font-size: 12px;}             
                }
            }

            .project_text {
                h4 { 
                    margin-bottom: 8px;
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 133%;
                    color: var(--white); 
                    @media(max-width:480px){font-size: 16px;}
                }
                
                p { 
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 125%;
                    color: var(--white);
                    @media(max-width:480px){font-size: 12px;}
                }
                
            }

            .more_link {
                display: flex;
                align-items: center;
                gap: 8px;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-transform: uppercase;
                color: var(--white);
                text-decoration: none;

                span { transition: transform 0.3s; }
                &:hover span { transform: translateX(5px); }
            }
        }

        .projects_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .all_projects_btn {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: all 0.3s;
                font-family: var(--second-family);
                font-weight: 500;
                font-size: 32px;
                line-height: 125%;
                color: var(--white);

                &:hover {
                    transform: translateX(5px);
                }
                @media (max-width: 485px) { font-size: 20px; }
            }

            .mobile-buttons {
                display: none; /* Прячем на десктопе */
                @media (max-width: 485px) { display: flex; } /* Показываем на мобилке */
            }
        }
    }
}